@font-face {
    font-family: Ubuntu-Bold;
    src: url("./assets/fonts/Ubuntu-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Ubuntu-Medium;
    src: url("./assets/fonts/Ubuntu-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: Ubuntu-Regular;
    src: url("./assets/fonts/Ubuntu-Regular.ttf");
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: hsl(217, 100%, 97%);
}
.home{
    min-width: 65%;
    padding: 17px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
}
.aside{
    width: 29%;
    background-image: url('./assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 15px;
    padding: 32px 38px;
    min-width: 274px;
}
.step{
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}
.num{
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: hsl(231, 100%, 99%);
    border-radius: 50%;
    border: 2.3px solid hsl(217, 100%, 97%);
    margin-right: 15px;
    font-family: "Ubuntu-Medium";
}
.info{
    margin-top: -3px;
}
.info small{
    font-family: "Ubuntu-Medium";
    color: hsl(231, 11%, 63%);
}
.info p{
    font-family: "Ubuntu-Bold";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}
.step.active .num{
    background-color: hsl(206, 94%, 87%);
    border: 2.3px solid hsl(206, 94%, 87%);
    color: hsl(243, 100%, 62%);
}
.details{
    flex: 1;
    font-family: 'Ubuntu-Regular';
    padding: 43px 0px;
}
.step_1{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.head{
    color: hsl(213, 96%, 18%);
    font-family: 'Ubuntu-Bold';
    margin-bottom: 20px;
}
.para{
    color: hsl(231, 11%, 63%);
    font-family: "Ubuntu-Medium";
    font-size: 15px;
    margin-bottom: 45px;
}
.label{
    font-size: 14px;
    font-family: "Ubuntu-Bold";
    color: hsl(213, 96%, 18%);
    margin-bottom: 9px;
}
.details_input::placeholder{
    font-size: 15px;
    font-family: "Ubuntu-Medium";
    color: hsl(231, 11%, 63%);
}
.details_input{
    padding: 16px;
    margin-bottom: 29px;
    outline: none;
    border: 2px solid hsl(231, 11%, 63%);
    border-radius: 7px;
    font-size: 14px;
    color: hsl(213, 96%, 18%);
    font-family: 'Ubuntu-Bold';
}
.next{
    font-size: 17px;
    color: hsl(217, 100%, 97%);
    background-color: hsl(213, 96%, 18%);
    border-radius: 7px;
    align-self: flex-end;
    padding: 11px 28px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: "Ubuntu-Medium";
}
.notAvailable{
    display: none;
}
.step_2{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.plans_cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}
.Monthly_Yearly{
    background-color: hsl(231, 100%, 99%);
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 19px 0px;
}
.Monthly_Yearly_Label{
    font-size: 14px;
    font-family: "Ubuntu-Bold";
}
.checkd_Label{
    color: hsl(213, 96%, 18%);
}
.Uncheckd_Label{
    color: hsl(231, 11%, 63%);
}
.Monthly_Yearly_Wrapp{
    display: flex;
    align-items: center;
    gap: 23px;
}








/*Toggle */
.knobs, .layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button{
    position: relative;
    top: 50%;
    width: 38px;
    height: 23px;
    /* margin: -20px auto 0 auto; */
    overflow: hidden;
}

.button.r, .button.r .layer{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: hsl(213, 96%, 18%);
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before
{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 5px 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before
{
    content: '';
    left: 19px;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
    transition: 0.3s ease all;
}
