@font-face {
    font-family: Ubuntu-Bold;
    src: url("./assets/fonts/Ubuntu-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Ubuntu-Medium;
    src: url("./assets/fonts/Ubuntu-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: Ubuntu-Regular;
    src: url("./assets/fonts/Ubuntu-Regular.ttf");
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: hsl(217, 100%, 97%);
}
.home{
    min-width: 65%;
    padding: 17px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
}
.aside{
    width: 29%;
    background-image: url('./assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 15px;
    padding: 32px 38px;
    min-width: 274px;
}
.step{
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}
.num{
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: hsl(231, 100%, 99%);
    border-radius: 50%;
    border: 2.3px solid hsl(217, 100%, 97%);
    margin-right: 15px;
    font-family: "Ubuntu-Medium";
}
.info{
    margin-top: -3px;
}
.info small{
    font-family: "Ubuntu-Medium";
    color: hsl(231, 11%, 63%);
}
.info p{
    font-family: "Ubuntu-Bold";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}
.step.active .num{
    background-color: hsl(206, 94%, 87%);
    border: 2.3px solid hsl(206, 94%, 87%);
    color: hsl(243, 100%, 62%);
}
.details{
    flex: 1;
    font-family: 'Ubuntu-Regular';
    padding: 43px 0px;
}
.step_1{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.head{
    color: hsl(213, 96%, 18%);
    font-family: 'Ubuntu-Bold';
    margin-bottom: 20px;
}
.para{
    color: hsl(231, 11%, 63%);
    font-family: "Ubuntu-Medium";
    font-size: 15px;
    margin-bottom: 45px;
}
.label{
    font-size: 14px;
    font-family: "Ubuntu-Bold";
    color: hsl(213, 96%, 18%);
    margin-bottom: 9px;
}
.details_input::placeholder{
    font-size: 15px;
    font-family: "Ubuntu-Medium";
    color: hsl(231, 11%, 63%);
}
.details_input{
    padding: 16px;
    margin-bottom: 29px;
    outline: none;
    border: 2px solid hsl(231, 11%, 63%);
    border-radius: 7px;
    font-size: 14px;
    color: hsl(213, 96%, 18%);
    font-family: 'Ubuntu-Bold';
}
.next{
    font-size: 17px;
    color: hsl(217, 100%, 97%);
    background-color: hsl(213, 96%, 18%);
    border-radius: 7px;
    align-self: flex-end;
    padding: 11px 28px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: "Ubuntu-Medium";
}
.error{
    color: red;
    visibility: hidden;
}
.step_2{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.plans_cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    flex-wrap: wrap;
    gap: 22px;
}
.Monthly_Yearly{
    background-color: hsl(226, 100%, 97%);
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 19px 0px;
}
.Monthly_Yearly_Label{
    font-size: 14px;
    font-family: "Ubuntu-Bold";
}
.checkd_Label{
    color: hsl(213, 96%, 18%);
}
.Uncheckd_Label{
    color: hsl(231, 11%, 63%);
}
.Monthly_Yearly_Wrapp{
    display: flex;
    align-items: center;
    gap: 23px;
}
.card{
    padding: 25px 14px;
    flex: 1;
    border: 3px solid hsl(231, 11%, 63%);
    cursor: pointer;
    border-radius: 15px;
    min-width: 150px;
}
.card:hover{
    border: 3px solid hsl(243, 100%, 62%);
}
.card_active{
    background-color: hsl(231, 100%, 96%);
    border: 3px solid hsl(243, 100%, 62%);
}
.card img{
    margin-bottom: 43px;
}
.card h2{
    font-size: 14px;
    color: hsl(213, 96%, 18%);
    margin-bottom: 10px;
}
.card p{
    color: hsl(231, 11%, 63%);
    font-size: 13px;
}
.suivant{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.next.back{
    background-color: transparent;
    color: hsl(231, 11%, 63%);
}
.next.back:hover{
    color: hsl(213, 96%, 18%);
}
.step_3{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.AddOns_card{
    border: 2.5px solid hsl(229, 24%, 87%); 
    border-radius: 10px;
    transition: background-color .2s ease-in-out,border .2s ease-in-out; 
}
.AddOns_card:not(:last-child){
    margin-bottom: 16px;
}
.cbx_all{
    display: flex;
    align-items: center;
    padding: 22px 26px;
}
.AddOns_price{
    margin-left: auto;
    color: hsl(231, 11%, 63%);
    /* color: hsl(229, 24%, 87%); */
}
.AddOns_info h2{
    font-size: 14px;
    color: hsl(213, 96%, 18%);
    margin-bottom: 6px;
}
.AddOns_info p{
    font-size: 12px;
    color: hsl(231, 11%, 63%);
    margin-top: 6px;
}
.cbx_all span{
    margin-right: 26px;
}
.step_4{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.confirm_details{
    background-color: hsl(217, 100%, 97%);
    padding: 21px 26px;
    border-radius: 15px;
    margin-bottom: 25px;
}
.confirm_details_infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsl(213, 96%, 18%);
    margin-bottom: 25px;
}
.confirm_details_infos_left h3{
    font-size: 20px;
    font-family: 'Ubuntu-Bold';
    margin-bottom: 5px;
}
.confirm_details_infos_left a{
    font-size: 16px;
    margin-top: 5px;
    font-family: 'Ubuntu-Medium';
    color: hsl(231, 11%, 63%);
}
.confirm_details_infos h3{
    font-size: 17px;
}
.addsone_finale{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addsone_finale:not(:last-child){
    margin-bottom: 25px;
}
.addsone_finale p{
    font-size: 14px;
    font-family: 'Ubuntu-Medium';
    color: hsl(231, 11%, 63%);
}
.addsone_finale h4{
    font-size: 14px;
    font-family: 'Ubuntu-Medium';
    color: hsl(213, 96%, 18%);
}
.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 26px;
    margin-bottom: 40px;
}
.total p{
    font-size: 14px;
    font-family: 'Ubuntu-Medium';
    color: hsl(231, 11%, 63%);
}
.total h3{
    color: hsl(243, 100%, 62%);
    font-family: 'Ubuntu-Medium';
    font-size: 18px;
}
.immpo{
    padding: 11px 0px;

}
@media screen and (max-width:695px) {
    body{
        align-items: flex-start;
        background-color: hsl(0, 0%, 100%);
    }
    .home{
        flex-direction: column;
        width: 100%;
        padding: 0px;
        background-color: hsl(217, 100%, 97%);
    }
    .aside{
        width: 100%;
        border-radius: 0px;
        display: flex;
        background-image: url("./assets/images/bg-sidebar-mobile.svg");
        justify-content: center;
        min-height: 200px;
    }
    .aside .step .info{
        display: none;
    }
    .step_1
    ,.step_2
    ,.step_3
    ,.step_4{
        background-color: hsl(0, 0%, 100%);
        padding: 25px 25px;
        border-radius: 15px;
        width: 90%;
        margin-top: -100px;
    }
}
/*Toggle */
.knobs, .layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.line{
    height: 2px;
    width: 100%;
    margin-bottom: 20px;
    background-color:  hsl(229, 24%, 87%);
}
.button{
    position: relative;
    top: 50%;
    width: 38px;
    height: 23px;
    /* margin: -20px auto 0 auto; */
    overflow: hidden;
}

.button.r, .button.r .layer{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: hsl(213, 96%, 18%);
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before
{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 5px 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before
{
    content: '';
    left: 19px;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
    transition: 0.3s ease all;
}

.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: hsl(243, 100%, 62%);
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  padding-left: 8px;
}
.cbx:hover span:first-child {
  border-color: hsl(243, 100%, 62%);
}

.inp-cbx:checked + .cbx span:first-child {
  background: hsl(243, 100%, 62%);
  border-color: hsl(243, 100%, 62%);
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}
.AddOns_card:has(> .inp-cbx:checked){
    border: 2.5px solid hsl(243, 100%, 62%);
    background-color: hsl(217, 100%, 97%);
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
.notAvailable{
    display: none;
}